.header-bg {
  background-color:#17a2b8;
  background-image: linear-gradient(180deg, #1dd1ec 0%, #0e626e 95%);
  background-size: 3px 200px;
  background-position: 0 -10px;
}

.card-body {
  padding: 5px;
}

.uv-low {
  background-color: #23ad8b;
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.uv-mod {
  background-color: #dcdf32;
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.uv-high {
  background-color: #c52d2d;
  color: white;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

#search-history {
  margin-top: 10px;
  border-top: #0e626e solid;
}